

  <!-- navbar -->
  <div class="navbar-fixed">
    <nav class="teal">
      <div class="container">
        <div class="nav-wrapper">
          <a class="brand-logo">Chef's Table!</a>
          <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/view-recipe">View Recipes</a></li>
            <li><a href="/add-recipe">Add Recipe</a></li>
            <li><a href="/users/login">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
<div>
  <!-- drop down navbar -->
  <ul id="mobile-nav" class="sidenav">
    <li><a href="/">Home</a></li>
    <li><a href="/view-recipe">View Recipes</a></li>
    <li><a href="/add-recipe">Add Recipe</a></li>
    <li><a href="/users/login">Login</a></li>
  </ul>
