 <!-- Section: Slider -->
    <section class="slider">
        <ul class="slides">
        <li>
            <img src="/images/eggbowls.jpg">
            <div class="caption center-align">
            <h2>Never Lose Your Recipes</h2>
            {{!-- <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus delectus inventore neque impedit</h5> --}}
            </div>
        </li>
        <li>
            <img src="/images/avotoast.jpg">
            <div class="caption left-align">
            <h2>Create Collections</h2>
            {{!-- <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus delectus inventore neque impedit</h5> --}}
            </div>
        </li>
        <li>
            <img src="/images/fries.jpg">
            <div class="caption right-align">
            <h2>Share With Friends</h2>
            {{!-- <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt ipsum molestias excepturi doloremque</h5> --}}
            </div>
        </li>
        </ul>
    </section>
